* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container {
    width: 80%;
    max-width: 800px;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    padding: 20px;
    text-align: center;
    height: 85%;
}

h1 {
    margin-bottom: 20px;
}

.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 20px; /* Add some space below the header */
    position: relative;
}

.header .home-button {
    position: absolute;
    left: 0;
}

.header h1 {
    margin: 0 auto;
    text-align: center;
    flex-grow: 1;
}

.home-button {

    background-color: #abd973;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.home-button:hover {
    background-color: #7f9c5d;
}

.avatar-preview {
    width: 150px;
    height: 150px;
    margin: 10px auto;
    display: block;
    border-radius: 94%;
}

.form-group {
    margin: 20px 0;
}

.profile-info p {
    margin-bottom: 10px;
}

button {
    padding: 10px 20px;
    border: none;
    cursor: pointer;
    background-color: #007bff;
    color: white;
    border-radius: 5px;
    margin-top: 10px;
}

button[name="delete_profile"] {
    background-color: #dc3545;
    color: white;
}

.form-group textarea {
    width: 100%;
    resize: none;
}

.custom-file-upload {
    display: inline-block;
    padding: 10px 20px;
    cursor: pointer;
    background-color: #007bff;
    color: white;
    border-radius: 5px;
    margin-top: 10px;
}

.custom-file-upload:hover {
    background-color: #0056b3;
}

input[type="file"] {
    display: none;
}