

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    overflow-y: auto;
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
    height: 100%;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center;
    padding: 20px;
    overflow: hidden;
    position: relative;
}

h1 {
    margin-bottom: 20px;
}

.welcome-message {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 20px;
    width: 100%;
    overflow: hidden;
}

.welcome-message .welcome-user {
    margin-bottom: 20px;
}

.login-home {
    margin-bottom: 1px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 5px;
}

.register-home {
    margin-top: 5px;
    margin-bottom: 5px;
    display: inline-block;
    padding: 10px 20px;
    background-color: #007bff;
    color: white;
    border: none;
    cursor: pointer;
    text-decoration: none;
    border-radius: 5px;
}

.or {
    margin: 5px 0;
}

button {
    padding: 10px 20px;
    border: none;
    cursor: pointer;
}

button[type="submit"] {
    background-color: #4CAF50;
    color: white;
}

button[name="delete_profile"] {
    background-color: red;
    color: white;
}

.avatar-image {
    margin-bottom: 40px;
    width: 150px;
    height: 150px;
    object-fit: cover;
    border-radius: 94%;
}

.profile-button, .logout-button {
    display: block;
    margin: 10px auto;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
    text-decoration: none;
    border-radius: 5px;
    color: white;
}

.profile-button {
    background-color: #007bff;
}

.logout-button {
    background-color: #dc3545;
}

.job-posts {
    display: flex;
    flex-direction: column;
    gap: 20px;
    flex-grow: 1;
    overflow-y: auto;
    width: 100%;
    max-height: 60vh; /* Set a maximum height for the job posts container */
}

.job-post {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #9afaf6;
    word-wrap: break-word;
    overflow: hidden;
    width: 600px;
    margin: 0 auto;
    position: relative;
    height: 250px;
    flex-shrink: 0;
}

.create-job-post-button {
    margin-bottom: 30px;
    padding: 10px 20px;
    background-color: #00ffb2;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.create-job-post-button:hover {
    background-color: #00e6a8;
}

.job-post h3 {
    color: #584ad7;
}

.views-counter {
    position: absolute;
    bottom: 10px;
    right: 10px;
    background-color: #f0f0f0;
    padding: 5px 10px;
    border-radius: 5px;
}

.logged-out-message {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.logged-out-message p,
.logged-out-message button {
    margin: 10px 0;
}

.view-post {
    background-color: #8aa92f;
    color: white;
    border: none;
    padding: 25px 52px;
    font-size: 17px;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 50px;
}

.view-post:hover {
    background-color: #6f7d24;
}

.bookmark-counter {
    position: absolute;
    bottom: 10px;
    left: 10px;
    background-color: #f0f0f0;
    padding: 5px 10px;
    border-radius: 5px;
}

.bookmark-dropdown {
    position: absolute;
    top: 10px;
    left: 10px;
}

.bookmark-dropdown-button {
    background-color: #4CAF50;
    color: white;
    padding: 10px;
    font-size: 16px;
    border: none;
    cursor: pointer;
}

.bookmark-dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.bookmark-dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.bookmark-dropdown-content a:hover {
    background-color: #f1f1f1;
}

.bookmark-dropdown:hover .bookmark-dropdown-content {
    display: block;
    animation: fadeIn 0.5s;
}

@keyframes fadeIn {
    from {opacity: 0;}
    to {opacity: 1;}
}

.bookmark-post {
    background-color: #c47e0d;
    color: white;
    border: none;
    padding: 25px 52px;
    font-size: 17px;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 50px;
}

.bookmark-post:hover {
    background-color: #7a5308;
}

.forum-buttons {
    position: absolute;
    top: 10px;
    right: 10px;
    display: flex;
    gap: 10px;
}
.forum-buttons button {
    padding: 10px 20px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}
.forum-buttons button:hover {
    background-color: #0056b3;
}



.search-bar {
    margin: 20px 0;
}
.search-bar input[type="text"] {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}
.search-bar button {
    padding: 10px 20px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}
.search-bar button:hover {
    background-color: #0056b3;
}