/* static/home/styles.css */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

.container {
    width: 90%;
    max-width: 1200px;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center;
    padding: 20px;
    overflow: hidden;
}

h1 {
    margin-bottom: 20px;
}

.welcome-message .welcome-user {
    margin-bottom: 10vh;
}

.login-home {
    margin-bottom: 1px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 5px;
}

.register-home {
    margin-top: 5px;
    margin-bottom: 5px;
    display: inline-block;
    padding: 10px 20px;
    background-color: #007bff;
    color: white;
    border: none;
    cursor: pointer;
    text-decoration: none;
    border-radius: 5px;
}

.or {
    margin: 5px 0;
}

button {
    padding: 10px 20px;
    border: none;
    cursor: pointer;
}

button[type="submit"] {
    background-color: #4CAF50;
    color: white;
}

button[name="delete_profile"] {
    background-color: red;
    color: white;
}

.avatar-image {
    margin-bottom: 40px;
    width: 150px;
    height: 150px;
    object-fit: cover;
    border-radius: 94%;
}

.profile-button, .logout-button {
    display: block;
    margin: 10px auto;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
    text-decoration: none;
    border-radius: 5px;
    color: white;
}

.profile-button {
    background-color: #007bff;
}

.logout-button {
    background-color: #dc3545;
}

.job-posts {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.job-post {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #9afaf6;
    word-wrap: break-word;
    overflow: hidden;
}

.create-job-post-button {
    margin-bottom: 30px;
    padding: 10px 20px;
    background-color: #00ffb2;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.create-job-post-button:hover {
    background-color: #00e6a8;
}

.job-post h3 {
    color: #584ad7;
}