{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ user.username }}'s Profile</title>
    <link rel="stylesheet" href="{% static 'css/main.css' %}">
    <link href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.19/dist/tailwind.min.css" rel="stylesheet">
</head>
<body class="bg-gray-900 min-h-screen flex flex-col items-center text-gray-200">
    <div class="container bg-gray-800 p-8 rounded shadow-md w-full max-w-4xl mt-8">
        <div class="header flex justify-between items-center mb-6">
            <button class="home-button bg-purple-500 text-white font-bold py-2 px-4 rounded hover:bg-purple-600 transition-colors" onclick="location.href='/'">Home</button>
            <div class="buttons flex space-x-4">
                <button class="manage-job-posts-button bg-green-500 text-white font-bold py-2 px-4 rounded hover:bg-green-600 transition-colors" onclick="location.href=`{% url 'manage_job_posts' %}`">Manage Job Posts</button>
                <button class="my-forum-posts-button bg-gray-500 text-white font-bold py-2 px-4 rounded hover:bg-gray-600 transition-colors" onclick="location.href=`{% url 'user_forum_posts' %}`">My Forum Posts</button>
            </div>
        </div>

        {% if messages %}
            <div class="mb-4">
                {% for message in messages %}
                    <div class="px-4 py-2 rounded shadow-md bg-green-100 text-green-800">
                        {{ message }}
                    </div>
                {% endfor %}
            </div>
        {% endif %}

        <img id="avatarPreview" src="{{ avatar_url }}" alt="Avatar Preview" class="avatar-preview w-32 h-32 rounded-full mx-auto mb-6"/>

        <h1 class="text-3xl font-bold text-purple-400 mb-6 text-center">{{ user.username }}'s Profile</h1>

        <form method="post" enctype="multipart/form-data" class="space-y-6">
            {% csrf_token %}
            {{ form.non_field_errors }}
            <div class="form-group flex flex-col">
                <label for="id_username" class="mb-2 font-semibold text-gray-800">Username:</label>
                {{ form.username }}
                {{ form.username.errors }}
            </div>
            <div class="form-group flex flex-col">
                <label for="id_first_name" class="mb-2 font-semibold text-gray-800">First Name:</label>
                {{ form.first_name }}
                {{ form.first_name.errors }}
            </div>
            <div class="form-group flex flex-col">
                <label for="id_last_name" class="mb-2 font-semibold text-gray-800">Last Name:</label>
                {{ form.last_name }}
                {{ form.last_name.errors }}
            </div>
            <div class="form-group flex flex-col">
                <label class="mb-2 font-semibold text-gray-800">Email:</label>
                <p class="text-gray-100">{{ user.email }}</p>
                <button type="button" onclick="location.href=`{% url 'change_email' %}`" class="mt-2 bg-green-500 text-gray-800 font-semibold py-2 px-4 rounded hover:bg-green-600 transition-colors">
                    Change Email
                </button>
            </div>
            <div class="form-group flex flex-col">
                <label for="id_avatar" class="mb-2 font-semibold text-gray-800">Choose Avatar Pic:</label>
                {{ form.avatar }}
                {{ form.avatar.errors }}
            </div>
            <div class="form-group flex flex-col">
                <label for="id_bio" class="mb-2 font-semibold text-gray-800">Bio:</label>
                {{ form.bio }}
                {{ form.bio.errors }}
            </div>
            <div class="form-group flex flex-col">
                <label for="id_github" class="mb-2 font-semibold text-gray-800">GitHub URL:</label>
                {{ form.github }}
                {{ form.github.errors }}
            </div>
            <div class="form-group flex flex-col">
                <label for="id_website" class="mb-2 font-semibold text-gray-800">Personal Website:</label>
                {{ form.website }}
                {{ form.website.errors }}
            </div>
            <button type="submit" class="w-full bg-purple-500 text-white font-bold py-2 px-4 rounded hover:bg-purple-600 transition-colors">Update Profile</button>
        </form>

        <div class="mt-6 flex justify-between">
            <a href="{% url 'change_password' %}" class="bg-yellow-500 text-white px-4 py-2 rounded-md hover:bg-yellow-600 transition-colors">
                Change Password
            </a>
            <a href="{% url 'password_reset' %}" class="bg-red-500 text-white px-4 py-2 rounded-md hover:bg-red-600 transition-colors">
                Reset Password via Email
            </a>
        </div>

        <form action="{% url 'delete_profile' %}" method="post" class="mt-6" onsubmit="return confirm('Are you sure you want to delete your profile? This action cannot be undone.');">
            {% csrf_token %}
            <button type="submit" name="delete_profile" class="bg-red-500 text-white font-bold py-2 px-4 rounded hover:bg-red-600 transition-colors">Delete Profile</button>
        </form>
    </div>

    
    
    <script>
        document.addEventListener('DOMContentLoaded', function () {
            fetch('/api/profiles/me/')
                .then(response => response.json())
                .then(profile => {
                    document.getElementById('id_username').value = profile.user.username;
                    document.getElementById('id_email').value = profile.user.email;
                    document.getElementById('id_first_name').value = profile.user.first_name;
                    document.getElementById('id_last_name').value = profile.user.last_name;
                    document.getElementById('id_bio').value = profile.bio;
                    document.getElementById('id_github').value = profile.github;
                    document.getElementById('id_website').value = profile.website;
                    document.getElementById('avatarPreview').src = profile.avatar_url;
                })
                .catch(error => console.error('Error fetching profile:', error));
        });

        function confirmDeleteProfile() {
            return confirm("Are you sure you want to delete your profile?");
        }

        document.getElementById('id_avatar').addEventListener('change', function (event) {
            const [file] = event.target.files;
            if (file) {
                document.getElementById('avatarPreview').src = URL.createObjectURL(file);
            }
        });

        // Toggle dropdown visibility
        document.querySelector('.dropbtn').addEventListener('click', function (event) {
            event.stopPropagation(); // Prevent the click from bubbling up to the window
            const dropdownContent = this.nextElementSibling;
            dropdownContent.classList.toggle('hidden');
        });

        // Close the dropdown if the user clicks outside of it
        window.addEventListener('click', function (event) {
            if (!event.target.matches('.dropbtn')) {
                const dropdowns = document.querySelectorAll('.dropdown-content');
                dropdowns.forEach(dropdown => {
                    if (!dropdown.classList.contains('hidden')) {
                        dropdown.classList.add('hidden');
                    }
                });
            }
        });
    </script>

    
</body>
</html>
