<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Profile</title>
<body>
<form action="/profile" method="post">
    {% csrf_token %}
    {{ form.as_p }}
    <button type="submit">Update</button>
</form>
<form method="post" style="margin-top: 20px;" onsubmit="return confirmDeleteProfile();">
    {% csrf_token %}
    <button type="submit" name="delete_profile" style="background-color: red; color: white;">Delete Profile</button>
</form>

<script>
    function confirmDeleteProfile() {
        return confirm("Are you sure you want to delete your profile?");
    }
</script>
</body>
</html>